<!DOCTYPE html>
<html ng-app="auctionApp">
<head lang="en">
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500" rel="stylesheet" type="text/css">
<link href="styles.css" rel="stylesheet" type="text/css" media="screen">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.0/jspdf.plugin.autotable.js"></script>
<script src="js/controllers.js"></script>
<title>Manage Auction</title>
</head>

<body ng-controller="ItemCardsCtrl">
<div id="container">
  <div id="header"> AUCTION MONITOR </div>
  <div id="content">
    <input type="button" value="Print All Claim Sheets" class="downloadbutton" ng-click="buildPDF()" />
    <div class="card left">
      <div class="header" style="background: #999">Auction Highlights</div>
      <div style="height: 3px; background: #777"></div>
      <div style="padding: 25px; color: #fff;">
        <table cellPadding="0" cellspacing="10">
          <tr>
            <td style="text-align: right"><span class="donor">Raised so far </span></td>
            <td><span class="title">{{totalRaised | noFractionCurrency}}</span></td>
          </tr>
          <tr>
            <td style="text-align: right"><span class="donor">Bid count </span></td>
            <td><span class="title">{{bidCount}}</span></td>
          </tr>
        </table>
        <br/>
        <span class="title">{{mostPopularBidCount}}</span><br/>
        <span class="donor">Most popular by bid count</span> <br/>
        <br/>
        <span class="title">{{mostPopularPrice}}</span><br/>
        <span class="donor">Most popular by highest bid</span> <br/>
        <br/>
        <span class="title">{{highestGrossing}}</span><br/>
        <span class="donor">Highest Grossing</span> </div>
      <div style="height: 3px; background: #777"></div>
      <div class="footer" style="background: #999"></div>
    </div>
    <div class="card right">
      <div class="header" style="background: #999">Individual Items</div>
      <div style="height: 3px; background: #777"></div>
      <div style="padding: 25px; color: #fff;">
        <table cellPadding="0" cellspacing="10">
          <tr>
            <td style="text-align: right"><span class="donor">Number of items </span></td>
            <td><span class="title">{{itemCount}}</span></td>
          </tr>
          <tr>
            <td style="text-align: right"><span class="donor">items with no bids </span></td>
            <td><span class="title">{{noBidCount}}</span></td>
          </tr>
        </table>
        <table class="infocontainer tight">
          <tr class="title">
            <th class="bidNum">#</th>
            <th>Item Name</th>
            <th class="bids">Bid</th>
          </tr>
        </table>
        <div ng-repeat="item in items | orderObjectBy:'gross'">
          <table class="infocontainer tight title">
            <tr>
              <td class="bidNum">{{item.itemNumber}}</td>
              <td class="names">{{item.name}}</td>
              <td class=" bids">${{item.gross}}</td>
            </tr>
            <tr ng-repeat="bidObj in item.bidObjs">
              <td colspan="3" class="donor">${{bidObj.amt}} by bid # {{bidObj.who}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div style="height: 3px; background: #777"></div>
      <div class="footer" style="background: #999"></div>
    </div>
    <div class="card left">
      <div class="header" style="background: #999">Search Bidder by Bid #</div>
      <div style="height: 3px; background: #777"></div>
      <div style="padding: 25px; color: #fff;">
        <input style="color:#000" placeholder="Search Bidder" ng-model="userClaims.bidder">
      </div>
      <table cellPadding="0" cellspacing="10">
        <tr>
          <td style="text-align: right"><span class="donor">Number of accounts</span></td>
          <td><span class="title">{{filtered.length}}</span></td>
        </tr>
      </table>
      <table class="infocontainer" ng-repeat="acct in filtered = (userClaims | filter: userClaims.bidder)">
        <tr class="title">
          <th>#</th>
          <th style="text-align:left">Item Name</th>
          <th class="bids">Bidder {{acct.bidder}}</th>
        </tr>
        <tr ng-repeat="claim in acct.items" class="title">
          <td class="bidNum">{{claim.item}}</td>
          <td class="names">{{claim.name}}</td>
          <td class="bids">${{claim.amt}}</td>
        </tr>
        <tr>
          <td colspan="3" class="total bids">Total: ${{acct.total}}</td>
        </tr>
      </table>
      <div style="height: 3px; background: #777"></div>
      <div class="footer" style="background: #999"></div>
    </div>
  </div>
</div>
</body>
</html>