/* CSS Document */

body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	background: #303030;
}
td {
	vertical-align: top;
}
#container {
	padding-top: 20px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#header {
	height: 80px;
	line-height: 80px;
	text-align: left;
	font-weight: 200;
	font-size: 26px;
	color: #fff;
}
#content {
	min-height: 300px;
}
.card {
	width: 49%;
	background: #515359;
	border-radius: 5px;
	-webkit-box-shadow: -2px 4px 16px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 4px 16px -3px rgba(0,0,0,0.75);
	box-shadow: -2px 4px 16px -3px rgba(0,0,0,0.75);
	margin-bottom: 20px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.downloadbutton {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 10px;
	margin-right: 10px;
	background: #990000;
	border: 1px solid #fff;
"align-content:
}
.header {
	height: 30px;
	background-color: #669900;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	padding: 5px 0 0 25px;
}
.footer {
	height: 10px;
	background-color: #669900;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.infocontainer {
	width: 90%;
	padding: 10px;
	min-height: 50px;
}
.tight {
	padding: 2px;
}
.bidNum {
	width: 45px;
}
.names {
	float: left;
	width: 100%;
	word-wrap: break-word;
	color: #fff;
	font-weight: 200;
}
.title {
	font-weight: 200;
	color: #fff;
}
.total {
	font-weight: 200;
	color: #fff;
	border-top: double #FFF; 
}
.donor {
	font-size: 14px;
	color: #999;
	font-weight: 200;
	text-transform: uppercase;
}
td.donor {
		padding-left: 50px;
}
.bids {
	text-align: right;
}
.winningbid {
	color: #669900;
	font-size: 22px;
}
.description {
	color: #fff;
	font-weight: 300;
	font-size: 13px;
	padding: 10px;
	min-height: 120px;
	max-height: 120px;
}
input {
	font-family: "Roboto", sans-serif;
	font-weight: 200;
	font-size: 16px;
	padding: 5px;
	color: #fff;
}

        ::-webkit-input-placeholder {
 color: #777;
}

        :-moz-placeholder { /* Firefox 18- */
 color: #777;
}

        ::-moz-placeholder {  /* Firefox 19+ */
 color: #777;
}

        :-ms-input-placeholder {
 color: #777;
}

@media (max-width : 965px ) {
}

@media (max-width : 340px ) {
#container {
	padding-top: 20px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
.card {
	width: 310px;
}
}
